<script>
	import * as THREE from 'three';
	import * as SC from 'svelte-cubed';

	let width = 1;
	let height = 1;
	let depth = 1;
	let maxRotationInc = 0.1;
	let spinStep = 0.01;

	let spin = {
		x: 0,
		y: 0,
		z: 0
	};

	let spinIncrement = {
		x: 0,
		y: 0.01,
		z: 0
	};

	SC.onFrame(() => {
		spin.x += spinIncrement.x;
		spin.y += spinIncrement.y;
		spin.z += spinIncrement.z;
	});
</script>

<SC.Canvas antialias background={new THREE.Color('papayawhip')} fog={new THREE.FogExp2('papayawhip', 0.1)} shadows>
	<SC.Group position={[0, -height / 2, 0]}>
		<SC.Mesh
			geometry={new THREE.PlaneGeometry(50, 50)}
			material={new THREE.MeshStandardMaterial({ color: 'burlywood' })}
			rotation={[-Math.PI / 2, 0, 0]}
			receiveShadow
		/>
		<SC.Primitive object={new THREE.GridHelper(50, 50, 0x444444, 0x555555)} position={[0, 0.001, 0]} />
	</SC.Group>

	<SC.Mesh
		geometry={new THREE.BoxGeometry()}
		material={new THREE.MeshStandardMaterial({ color: 0xff3e00 })}
		scale={[width, height, depth]}
		rotation={[spin.x, spin.y, spin.z]}
		castShadow
	/>
	<SC.PerspectiveCamera position={[1, 1, 3]} />
	<SC.OrbitControls enableZoom={false} maxPolarAngle={Math.PI * 0.51} />
	<SC.AmbientLight intensity={0.6} />
	<SC.DirectionalLight intensity={0.7} position={[-2, 3, 2]} shadow={{ mapSize: [2048, 2048] }} />
</SC.Canvas>

<div class="controls">
	<label><input type="range" bind:value={width} min={0.1} max={3} step={spinStep} />width</label>
	<label><input type="range" bind:value={height} min={0.1} max={3} step={spinStep} />height</label>
	<label><input type="range" bind:value={depth} min={0.1} max={3} step={spinStep} />depth</label>
	<label class="spin-doctor">
		<input type="range" bind:value={spinIncrement.x} min={-maxRotationInc} max={maxRotationInc} step={spinStep} />
		<input
			type="number"
			class="show"
			max={maxRotationInc}
			min={-maxRotationInc}
			step={spinStep}
			bind:value={spinIncrement.x}
		/>
		x rotation increment
	</label>

	<label class="spin-doctor">
		<input type="range" bind:value={spinIncrement.y} min={-maxRotationInc} max={maxRotationInc} step={spinStep} />
		y rotation increment
	</label>
	<label class="spin-doctor"
		><input type="range" bind:value={spinIncrement.z} min={-maxRotationInc} max={maxRotationInc} step={0.01} />z
		rotation increment</label
	>
</div>

<style lang="scss">
	div.controls {
		position: absolute;
		display: flex;
		flex-direction: column;
	}

	label.spin-doctor {
		input.show {
			width: 4rem;
		}
	}
</style>
